body {
    display: flex;
    background-color: #F0C695;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: #FD8B1E;
    display: flex;
    width: 100vw;
    padding: 1em;
    justify-content: center;
}

.logo-food {
    display: inline-block;
    color: #910606;
    font-family: 'Unica One', cursive;
}

.logo-me {
    font-family: 'Sacramento', cursive;
    display: inline-block;
    color: #910606;
}

.arrows {
  display: flex;
  justify-content: center;
  width: 60vw;
  align-items: center;
}

.arrow-next {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
    align-items: center;
}

.arrow-previous {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
    align-items: center;
}

.specs {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 60vw;
}

.spec-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 3em;
    margin-bottom: 1em;
}

p {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
}

h1 {
    /*text-transform: uppercase;*/
    margin: 0;
}

.flow-text {
    font-size: 1em !important;
}

h3 {
  font-size: 2.2rem !important;
}

h3 a {
    color: #910606;
}

h3 a:hover {
    color: #E04219;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

aside {}

figure {
    display: flex;
    flex-wrap: wrap;
}

img {
    /*margin: 10px 25px 20px 25px;*/
}

figcaption {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0 10px;
    margin-bottom: 15px;
    background-color: #F7C549;
    width: 60vw;
}

.left-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #789F47;
    height: 100vh;
    width: 20vw;
}

.right-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #789F47;
    padding: 15px;
    height: 100vh;
    width: 20vw;
}

.filter {
    display: block;
    color: #F0E9DE;
    width: 80%;
    margin: 0 auto;
}

label {
    color: #F0E9DE;
}

select {
    display: block;
    color: #FD8B1E;
    margin-bottom: 10px;
}

.btn {
    background-color: #E04219 !important;
}

.login {
    color: #F0C695;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: flex;
    /*width: auto;
    height: auto;*/
}

.img-container {
    display: flex;
    justify-content: center;
    /*width: 60vw;*/
    height: 60vh;
    margin-bottom: 10px;
}

.imageWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60vw;
    position: relative;
    margin-bottom: 0;
    /*max-height: 60vh;*/
}

#recipeName {
    font-family: 'Unica One', cursive;
}

footer {
    display: flex;
    align-self: baseline;
    width: 100vw;
    background-color: #ABAA6E;
}

small {
    padding: 4em;
}
